/* ------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato','Arial',sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility; 
}

/* ------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------ */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

/* ----HEADINGS----- */
h1,h2,h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1{
    color: #fff;
    font-size: 240%;
    margin-top: 0;
    margin-bottom: 25px;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height:3px;
    width: 100px;
    background-color: #e67e22;
    content: "";
    margin:0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    font-weight: 400;
    margin-bottom: 15px;
}

/* ----- PARAGRAPH ------- */
.long-copy {
    line-height: 160%;
    width:70%;
    margin-left: 15%;
    margin-bottom: 30px;
}

.box p { 
    padding: 1%;
    line-height: 145%;
    text-align: justify;
}
.box{
    padding: 1%;
}

/* ------ BUTTONS -------- */
.btn:link,
.btn:visited { 
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: 300;
    text-decoration: none;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

/* ------------------------------------ */
/* HEADER */
/* ------------------------------------ */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* --------NAVBAR------------ */
.logo {
    height: 100px;
    width: auto;
    margin-top: 20px;
    float: left;
}

.main-nav {
    float: right;
    margin-top: 60px;
    list-style: none;
}

.main-nav li {
    display: inline-block;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    padding-bottom: 7px;
    margin-left: 40px;
    font-size: 90%;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent ;
    transition: border-bottom ease-in 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22 ;
}


/* ------------------------------------ */
/* ICONS */
/* ------------------------------------ */
.icons{
    height: 60px;
    width: auto;
    display: block;
    margin-bottom: 10px;
}